body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   background-image: url(Sovngarde.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

main {
   flex-grow: 1;
}



.filter-shadow {
   filter: drop-shadow(5px 5px 0.5px black) !important;
}

.drop-shadow {
   filter: drop-shadow(0 0 4px black) !important;
}